
{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %} 
<!doctype html>
<html>
    <head>
        <title>List of persons</title>
    </head>
    <body>
            <table class="table">
                <thead>
                <tr>
                    {% for Days in object_list %}
                        <td>{{Days.choose_days}}</td>
                    {% endfor %}
                </tr>
                </thead>
                    <tbody>
                {% for Subjects in object_list%}
                    <tr>
                        <td>{{Subjects.subjects_in_course}}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
    </body>
</html>

{% endblock %}